In [1]:
DATA_PATH = "../data/retail_sales_dataset.csv"
import sys
sys.path.append('../src')
import pandas_helper

print(f"Intentando leer archivo desde: {DATA_PATH}")
df = pandas_helper.read_csv_data(DATA_PATH)

df = pandas_helper.clean_data(df)

Intentando leer archivo desde: ../data/retail_sales_dataset.csv

In [ ]:
# Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.
df.head(10)

In [ ]:
# Muestra las últimas 5 filas del DataFrame.
df.tail(5)

In [ ]:
# Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.
df.info()

In [ ]:
# Genera estadísticas descriptivas del DataFrame utilizando el método describe().
df.describe()

In [ ]:
# Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.
df.dtypes

In [ ]:
# Cuenta los valores únicos en la columna Producto utilizando el método value_counts().
df['product_category'].value_counts()

In [ ]:
# Muestra todos los valores únicos en la columna Age utilizando el método unique().
df['age'].unique()

In [2]:
# Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 1500.
df[df['total_amount'] > 1500]

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount
14,15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000
64,65,2023-12-05,CUST065,Male,51,Electronics,4,500,2000
71,72,2023-05-23,CUST072,Female,20,Electronics,4,500,2000
73,74,2023-11-22,CUST074,Female,18,Beauty,4,500,2000
88,89,2023-10-01,CUST089,Female,55,Electronics,4,500,2000
92,93,2023-07-14,CUST093,Female,35,Beauty,4,500,2000
108,109,2023-10-18,CUST109,Female,34,Electronics,4,500,2000
117,118,2023-05-16,CUST118,Female,30,Electronics,4,500,2000
123,124,2023-10-27,CUST124,Male,33,Clothing,4,500,2000
138,139,2023-12-15,CUST139,Male,36,Beauty,4,500,2000
151,152,2023-02-28,CUST152,Male,43,Electronics,4,500,2000
154,155,2023-05-17,CUST155,Male,31,Electronics,4,500,2000
156,157,2023-06-24,CUST157,Male,62,Electronics,4,500,2000
165,166,2023-04-02,CUST166,Male,34,Clothing,4,500,2000
252,253,2023-08-31,CUST253,Female,53,Clothing,4,500,2000
256,257,2023-02-19,CUST257,Male,19,Beauty,4,500,2000
268,269,2023-02-01,CUST269,Male,25,Clothing,4,500,2000
280,281,2023-05-23,CUST281,Female,29,Beauty,4,500,2000
341,342,2023-10-24,CUST342,Female,43,Clothing,4,500,2000
411,412,2023-09-16,CUST412,Female,19,Electronics,4,500,2000
415,416,2023-02-17,CUST416,Male,53,Electronics,4,500,2000
419,420,2023-01-23,CUST420,Female,22,Clothing,4,500,2000
446,447,2023-07-06,CUST447,Male,22,Beauty,4,500,2000
475,476,2023-08-29,CUST476,Female,27,Clothing,4,500,2000
479,480,2023-06-29,CUST480,Female,42,Beauty,4,500,2000
486,487,2023-07-24,CUST487,Male,44,Clothing,4,500,2000
502,503,2023-10-25,CUST503,Male,45,Beauty,4,500,2000
546,547,2023-03-07,CUST547,Male,63,Clothing,4,500,2000
560,561,2023-05-27,CUST561,Female,64,Clothing,4,500,2000
571,572,2023-04-20,CUST572,Male,31,Clothing,4,500,2000
576,577,2023-02-13,CUST577,Male,21,Beauty,4,500,2000
591,592,2023-01-24,CUST592,Female,46,Beauty,4,500,2000
594,595,2023-11-09,CUST595,Female,18,Clothing,4,500,2000
625,626,2023-09-29,CUST626,Female,26,Clothing,4,500,2000
633,634,2023-10-08,CUST634,Male,60,Electronics,4,500,2000
663,664,2023-12-28,CUST664,Female,44,Clothing,4,500,2000
699,700,2023-12-09,CUST700,Male,36,Electronics,4,500,2000
730,731,2023-05-10,CUST731,Male,54,Clothing,4,500,2000
734,735,2023-10-04,CUST735,Female,64,Clothing,4,500,2000
741,742,2023-01-21,CUST742,Female,38,Electronics,4,500,2000
742,743,2023-01-16,CUST743,Female,34,Beauty,4,500,2000
772,773,2023-07-23,CUST773,Male,25,Electronics,4,500,2000
788,789,2023-09-30,CUST789,Female,61,Clothing,4,500,2000
807,808,2023-04-01,CUST808,Male,33,Beauty,4,500,2000
831,832,2023-09-11,CUST832,Male,47,Beauty,4,500,2000
874,875,2023-08-06,CUST875,Female,51,Electronics,4,500,2000
926,927,2023-06-24,CUST927,Male,43,Electronics,4,500,2000
945,946,2023-05-08,CUST946,Male,62,Electronics,4,500,2000
969,970,2023-05-16,CUST970,Male,59,Electronics,4,500,2000

In [ ]:
# Utilizando el método query(), filtra el DataFrame para mostrar las filas donde:
# - el producto sea Electronics, 
# - las ventas sean igual a 4
# - el género sea Male
# - la edad sea mayor o igual a 60
df.query('product_category == "Electronics" and quantity == 4 and gender == "Male" and age >= 60')

In [ ]:
# Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.
df[['product_category', 'quantity']]

In [ ]:
# Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y age.
df.loc[5:10, ['product_category', 'age']]

In [ ]:
# Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.
df.iloc[:5, :3]